# Editor directories and files
.DS_Store
.gradle
.nyc_output
.scannerwork
build
coverage
dist
**/e2e/videos
node_modules


# local env files
local.*
local-*.*
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp4
*.pyc

# temp office files
~$*
*.*.bak

# bddstack files
build
.settings
*.log
.DS_Store
*.ipr
*.iml
*.iws
.env
.idea
.project

docker/**/*.txn
docker/bbp-network/von-network
venv

