# This is a basic workflow to help you get started with Actions

name: Code Climate

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ test_actions ]
  pull_request:
    branches: [ test_actions ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./issuer_controller
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      # Runs a set of commands using the runners shell
      # Get Code Climate binary
      - name: Download Code Climate Binary
        run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter

      # Permissions applied to the Code Climate Executable
      - name: Apply executable perms to Code Climate Binary
        run: chmod +x ./cc-test-reporter
        
      - name: What is here?
        run: ls
      # Before build
      - name: Before build
        run: ./cc-test-reporter before-build
      - name: run coverage manually
        run: coverage run --source=app -m pytest
      - name: export coverage results
        run: coverage json -i
      - name: What is here?
        run: ls -la
      - name: format-coverage
        run: ./cc-test-reporter format-coverage -t lcov -o coverage/contoller-codeclimate.json ./coverage.json

